<div ng-if="loading" class="alert alert-info">
  Loading...
</div>

<div ng-if="!loading" class="page-header">
  <h1>{{ project.name }}</h1>
</div>

<div ng-if="error != null" class="alert alert-danger">
  Error {{ error.status }}: {{ error.statusText }}
</div>

<div ng-repeat="media in project.medias" class="panel panel-default">
  <div class="panel-heading">{{ media.name }}</div>
  <div class="panel-body">
    <div class="wistia_embed wistia_async_{{ media.hashed_id }}">&nbsp;</div>
  </div>
</div>
